body {
  margin: 0;
}
.nav-parent {
  position: fixed;
}
.nav-bar {
  overflow: hidden;
  background-color: azure;
  position: fixed;
  width: 100%;
}
#intro {
  color: black;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: inherit;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: azure;
  /* overflow-x: hidden; */
  padding-top: 5vh;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: darkblue;
  display: block;
}

.sidenav a:hover {
  color: chocolate;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.inbox {
  margin-top: 0px;
}
